---
import Layout from "@/components/layout/layout.astro";
import Typography from "@/components/ui/typography.astro";

import { Image } from "astro:assets";

import hankens from "@/assets/images/hankens.jpg";
import schnelltest from "@/assets/images/schnelltest.jpg";
import Work from "@/components/work.astro";
---

<Layout
  description='Test Center Discovery Website - "2022"'
  footer
  header
  page="hankens-testzentrum"
  title="AW • Hankens-Testzentrum"
>
  <main
    class="mx-5 flex flex-col items-center justify-center pb-64 pt-15v"
  >
    <section class="pt-5v lg:min-w-[110rem] lg:max-w-[110rem]">
      <Typography
        className="inline-block text-6xl opacity-0 animate-once lg:text-7xl"
        data-in-view-class="animate-fade"
        variant="h1"
      >
        Test Center Discovery Website - "2022"
      </Typography>

      <div
        class="mt-12 overflow-hidden rounded-lg opacity-0 animate-once"
        data-in-view-class="animate-fade"
      >
        <div
          class="relative -my-16 rounded-xl"
          data-scroll
        >
          <Image
            alt="Hankens testzentrum website on a phone"
            class="h-70v min-h-50 w-full animate-pulse-bg object-cover transition duration-500"
            decoding="async"
            loading="lazy"
            src={hankens}
          />
        </div>
      </div>
    </section>

    <section class="lg:min-w-[108rem] lg:max-w-[108rem]">
      <Typography
        className="opacity-0 animate-once"
        data-in-view-class="animate-fade"
        variant="h2"
      >
        Collaborative Solution with Hankens-Apotheke
      </Typography>

      <Typography
        className="text-zinc-500 opacity-0 animate-once"
        data-in-view-class="animate-fade"
        variant="p"
      >
        Tasked by the rapid testing project, I collaborated with
        Hankens-Apotheke to develop a website simplifying test center discovery.
      </Typography>

      <Typography
        className="text-zinc-500 opacity-0 animate-once"
        data-in-view-class="animate-fade"
        variant="p"
      >
        Users can access an interactive map on the website to explore nearby
        test centers. This feature enables intuitive selection based on location
        and preferences.
      </Typography>

      <Typography
        className="text-zinc-500 opacity-0 animate-once"
        data-in-view-class="animate-fade"
        variant="p"
      >
        The platform offers comprehensive details for each center, including
        operating hours, available tests, and contact information. Users can
        seamlessly proceed from center discovery to appointment booking.
      </Typography>
    </section>

    <section class="w-full pt-15v lg:min-w-[110rem] lg:max-w-[110rem]">
      <Typography
        className="opacity-0 animate-once"
        component="h1"
        data-in-view-class="animate-fade"
        variant="h1"
      >
        Next project
      </Typography>

      <Work
        alt="Schnelltest website on a phone"
        className="h-60v min-h-50 object-[35%_35%]"
        description="A website dedicated to providing information about various COVID-19 testing centers."
        image={schnelltest}
        link="/project/schnelltest"
        single
        title="Schnelltest"
        year="2019"
      />
    </section>
  </main>
</Layout>
