---
import Layout from "@/components/layout/layout.astro";
import Typography from "@/components/ui/typography.astro";

import { Image } from "astro:assets";

import hankens from "@/assets/images/hankens.jpg";
---

<Layout
  footer
  header
  page="hankens-testzentrum"
  title="AW • Hankens-Testzentrum"
>
  <main
    class="mx-10 flex flex-col items-center justify-center pb-64 pt-15v"
    data-scroll-container
  >
    <section class="pt-5v lg:min-w-[100rem] lg:max-w-[100rem]">
      <Typography
        className="inline-block animate-fade-left text-6xl animate-once lg:text-7xl"
        variant="h1"
      >
        Test Center Discovery Website - "2022"
      </Typography>

      <a href="https://hankens-testzentrum.de/">
        <div
          class="group mt-12 animate-fade-left cursor-pointer overflow-hidden rounded-lg animate-delay-100 animate-once"
        >
          <div
            class="absolute left-[50%] top-[50%] z-10 translate-x-[-50%] translate-y-[-50%] opacity-0 transition-opacity delay-75 duration-500 group-hover:opacity-100"
          >
            <div
              class="flex !h-64 !w-64 items-center justify-center rounded-full bg-white p-5 text-center shadow-2xl"
            >
              <Typography
                className="text-4xl"
                variant="p"
              >
                Visit client
              </Typography>
            </div>
          </div>
          <div
            class="relative -my-16 rounded-xl"
            data-scroll
            data-scroll-speed="-0.5"
          >
            <Image
              alt=""
              class="h-70v min-h-50 w-full animate-pulse-bg object-cover transition duration-500 group-hover:scale-[1.05]"
              decoding="async"
              loading="lazy"
              src={hankens}
            />
          </div>
        </div>
      </a>

      <Typography
        className="animate-fade animate-once"
        variant="h2"
      >
        Collaborative Solution with Hankens-Apotheke
      </Typography>

      <Typography
        className="animate-fade text-zinc-400 animate-once md:max-w-[90rem]"
        variant="p"
      >
        Tasked by the rapid testing project, I collaborated with
        Hankens-Apotheke to develop a website simplifying test center discovery.
      </Typography>

      <Typography
        className="animate-fade text-zinc-400 animate-once md:max-w-[90rem]"
        variant="p"
      >
        Users can access an interactive map on the website to explore nearby
        test centers. This feature enables intuitive selection based on location
        and preferences.
      </Typography>

      <Typography
        className="animate-fade text-zinc-400 animate-once md:max-w-[90rem]"
        variant="p"
      >
        The platform offers comprehensive details for each center, including
        operating hours, available tests, and contact information. Users can
        seamlessly proceed from center discovery to appointment booking.
      </Typography>
    </section>

    <section
      class="w-full pt-5v text-right lg:min-w-[100rem] lg:max-w-[100rem]"
    >
      <Typography
        className="mb-0 animate-fade animate-once"
        component="h1"
        variant="p"
      >
        Next project:
      </Typography>

      <div class="animate-fade-left animate-delay-300 animate-once">
        <Typography
          className="cursor-pointer"
          component="a"
          href="/project/schnelltest"
          variant="h1"
        >
          <span class="link-underline link-underline-black">Schnelltest</span>
        </Typography>
      </div>
    </section>
  </main>
</Layout>
