---
import Layout from "@/components/layout/layout.astro";
import Typography from "@/components/ui/typography.astro";

import { Image } from "astro:assets";

import hankens from "@/assets/images/hankens.jpg";
import schnelltest from "@/assets/images/schnelltest.jpg";
import Work from "@/components/work.astro";
---

<Layout
  description='Test Center Discovery Website - "2022"'
  footer
  header
  page="hankens-testzentrum"
  title="AW • Hankens-Testzentrum"
>
  <main class="pt-15vh mx-5 flex flex-col items-center justify-center pb-64">
    <section class="pt-5vh lg:max-w-440 lg:min-w-440">
      <Typography
        className="animate-once noscript:animate-fade inline-block text-6xl opacity-0 lg:text-7xl"
        data-in-view-class="animate-fade"
        variant="h1"
      >
        Test Center Discovery Website - "2022"
      </Typography>

      <div
        class="animate-once noscript:animate-fade mt-12 overflow-hidden rounded-lg opacity-0"
        data-in-view-class="animate-fade"
      >
        <div
          class="relative -my-16 rounded-xl"
          data-parallax
        >
          <Image
            alt="Hankens testzentrum website on a phone"
            class="h-70vh animate-pulse-bg min-h-50 w-full object-cover transition duration-500"
            decoding="async"
            loading="lazy"
            src={hankens}
          />
        </div>
      </div>
    </section>

    <section class="lg:max-w-432 lg:min-w-432">
      <Typography
        className="animate-once noscript:animate-fade opacity-0"
        data-in-view-class="animate-fade"
        variant="h2"
      >
        Collaborative Solution with Hankens-Apotheke
      </Typography>

      <Typography
        className="animate-once noscript:animate-fade text-zinc-500 opacity-0"
        data-in-view-class="animate-fade"
        variant="p"
      >
        Tasked by the rapid testing project, I collaborated with
        Hankens-Apotheke to develop a website simplifying test center discovery.
      </Typography>

      <Typography
        className="animate-once noscript:animate-fade text-zinc-500 opacity-0"
        data-in-view-class="animate-fade"
        variant="p"
      >
        Users can access an interactive map on the website to explore nearby
        test centers. This feature enables intuitive selection based on location
        and preferences.
      </Typography>

      <Typography
        className="animate-once noscript:animate-fade text-zinc-500 opacity-0"
        data-in-view-class="animate-fade"
        variant="p"
      >
        The platform offers comprehensive details for each center, including
        operating hours, available tests, and contact information. Users can
        seamlessly proceed from center discovery to appointment booking.
      </Typography>
    </section>

    <section class="pt-15vh w-full lg:max-w-440 lg:min-w-440">
      <Typography
        className="animate-once noscript:animate-fade opacity-0"
        component="h1"
        data-in-view-class="animate-fade"
        variant="h1"
      >
        Next project
      </Typography>

      <Work
        alt="Schnelltest website on a phone"
        className="h-60vh min-h-50 object-[35%_35%]"
        description="A website dedicated to providing information about various COVID-19 testing centers."
        image={schnelltest}
        link="/project/schnelltest"
        single
        title="Schnelltest"
        year="2019"
      />
    </section>
  </main>
</Layout>
