---
import Layout from "@/components/layout/layout.astro";
import Typography from "@/components/ui/typography.astro";

import { Image } from "astro:assets";

import hm from "@/assets/images/hm-medizintechnik.jpg";
---

<Layout
  footer
  header
  page="hm-medizintechnik"
  title="AW • HM-Medizintechnik"
>
  <main
    class="mx-10 flex flex-col items-center justify-center pb-64 pt-15v"
    data-scroll-container
  >
    <section class="pt-5v lg:min-w-[100rem] lg:max-w-[100rem]">
      <Typography
        className="inline-block animate-fade-left text-6xl animate-once lg:text-7xl"
        variant="h1"
      >
        HM-Medizintechnik Website Revamp
      </Typography>
      <div
        class="mt-12 animate-fade-left overflow-hidden rounded-lg animate-delay-100 animate-once"
      >
        <Image
          alt=""
          class={`-my-16 h-70v min-h-50 w-full animate-pulse-bg rounded-xl object-cover`}
          data-scroll
          data-scroll-speed="-0.5"
          decoding="async"
          loading="lazy"
          src={hm}
        />
      </div>

      <div class="mt-14 flex justify-between">
        <Typography
          className="m-0 animate-fade animate-once"
          variant="p"
        >
          Role
        </Typography>
        <Typography
          className="m-0 animate-fade animate-once"
          variant="p"
        >
          Code, Consulting
        </Typography>
      </div>
      <hr class="my-4 h-0.5 border-0 bg-zinc-200" />
      <div class="flex justify-between">
        <Typography
          className="m-0 animate-fade animate-once"
          variant="p"
        >
          Year
        </Typography>
        <Typography
          className="m-0 animate-fade animate-once"
          variant="p"
        >
          2023
        </Typography>
      </div>
      <hr class="my-4 mb-24 h-0.5 border-0 bg-zinc-200" />

      <Typography
        className="animate-fade animate-once"
        variant="h2"
      >
        Revision of HM-Medizintechnik website with modern design
      </Typography>
      <Typography
        className="animate-fade text-zinc-400 animate-once md:max-w-[90rem]"
        variant="p"
      >
        In partnership with <a
          class="underline decoration-dotted transition-all duration-200 hover:text-zinc-600"
          href="https://www.linkedin.com/in/maximilianilts/"
          >my cousin</a
        >, we revamped HM-Medizintechnik's website, infusing modern design into
        a user-friendly interface.
      </Typography>

      <Typography
        className="animate-fade animate-once"
        variant="h2"
      >
        Technical Streamlining with Cloudflare Workers
      </Typography>
      <Typography
        className="animate-fade text-zinc-400 animate-once md:max-w-[90rem]"
        variant="p"
      >
        Leveraging Cloudflare Workers, we streamlined backend processes, storing
        form data in a Cloudflare KV store. This optimized workflow ensured
        swift confirmations and efficient data management.
      </Typography>
      <Typography
        className="animate-fade animate-once"
        variant="h2"
      >
        Fusing Design Finesse and Technical Innovation
      </Typography>
      <Typography
        className="animate-fade text-zinc-400 animate-once md:max-w-[90rem]"
        variant="p"
      >
        Our collaboration seamlessly merged design finesse with technical
        innovation, bringing forth a new era of digital engagement.
      </Typography>
      <hr class="my-4 h-0.5 border-0 bg-zinc-200" />
    </section>
    <section
      class="w-full pt-5v text-right lg:min-w-[100rem] lg:max-w-[100rem]"
    >
      <Typography
        className="mb-0 animate-fade animate-once"
        component="h1"
        variant="p"
      >
        Next project:
      </Typography>
      <div class="animate-fade-left animate-delay-300 animate-once">
        <Typography
          className="cursor-pointer"
          component="a"
          href="/project/hankens-testzentrum"
          variant="h1"
        >
          <span class="link-underline link-underline-black"
            >Hankens-Testzentrum</span
          >
        </Typography>
      </div>
    </section>
  </main>
</Layout>
