---
import Layout from "@/components/layout/layout.astro";
import Typography from "@/components/ui/typography.astro";
import { Image } from "astro:assets";
import hm from "@/assets/images/hm-medizintechnik.jpg";
import hankens from "@/assets/images/hankens.jpg";
import Work from "@/components/work.astro";
---

<Layout
  description='HM-Medizintechnik Website Revamp - "2023"'
  footer
  header
  imageText="Rental website for HM Medizintechnik, offering a wide range of medical devices."
  page="hm-medizintechnik"
  title="AW • HM-Medizintechnik"
>
  <main
    class="mx-5 flex flex-col items-center justify-center pb-64 pt-15v"
    data-scroll-container
  >
    <section class="pt-5v lg:min-w-[110rem] lg:max-w-[110rem]">
      <Typography
        className="inline-block animate-fade text-6xl animate-once lg:text-7xl"
        variant="h1"
      >
        HM-Medizintechnik Website Revamp - "2023"
      </Typography>

      <div class="mt-12 animate-fade overflow-hidden rounded-lg animate-once">
        <div
          class="relative -my-16 rounded-xl"
          data-scroll
          data-scroll-speed="-0.5"
        >
          <Image
            alt="HM Medizintechnik website on a phone"
            class="h-70v min-h-50 w-full animate-pulse-bg object-cover transition duration-500"
            decoding="async"
            loading="lazy"
            src={hm}
          />
        </div>
      </div>
    </section>

    <section class="lg:min-w-[108rem] lg:max-w-[108rem]">
      <Typography
        className="animate-fade animate-once"
        variant="h2"
      >
        Revision of HM-Medizintechnik website with modern design
      </Typography>

      <Typography
        className="animate-fade text-zinc-500 animate-once"
        variant="p"
      >
        In partnership with <a
          class="underline decoration-dotted transition-all duration-200 hover:text-zinc-600"
          href="https://www.linkedin.com/in/maximilianilts/"
          >my cousin</a
        >, we revamped HM-Medizintechnik's website, infusing modern design into
        a user-friendly interface.
      </Typography>

      <Typography
        className="animate-fade text-zinc-500 animate-once"
        variant="p"
      >
        Leveraging Cloudflare Workers, we streamlined backend processes, storing
        form data in a Cloudflare KV store. This optimized workflow ensured
        swift confirmations and efficient data management.
      </Typography>

      <Typography
        className="animate-fade text-zinc-500 animate-once"
        variant="p"
      >
        Our collaboration seamlessly merged design finesse with technical
        innovation, bringing forth a new era of digital engagement.
      </Typography>
    </section>

    <section class="w-full pt-5v lg:min-w-[110rem] lg:max-w-[110rem]">
      <Typography
        className="animate-fade animate-once"
        component="h1"
        variant="h1"
      >
        Next project:
      </Typography>

      <Work
        alt="Hankens testzentrum website on a phone"
        className="h-40v object-[50%_50%]"
        description="A platform enabling users to easily locate nearby COVID-19 testing centers."
        image={hankens}
        link="/project/hankens-testzentrum"
        single
        title="Hankens"
        year="2022"
      />
    </section>
  </main>
</Layout>
