---
import Layout from "@/components/layout/layout.astro";
import Typography from "@/components/ui/typography.astro";

import { Image } from "astro:assets";

import schnelltest from "@/assets/images/schnelltest.jpg";
import hm from "@/assets/images/hm-medizintechnik.jpg";
import Work from "@/components/work.astro";
---

<Layout
  description='COVID-19 Testing Solutions and Rapid Testing System - "2023"'
  footer
  header
  imageText="A website dedicated to providing information about various COVID-19 testing centers."
  page="schnelltest"
  title="AW • Schnelltest"
>
  <main
    class="mx-5 flex flex-col items-center justify-center pb-64 pt-15v"
    data-scroll-container
  >
    <section class="pt-5v lg:min-w-[110rem] lg:max-w-[110rem]">
      <Typography
        className="inline-block animate-fade text-6xl animate-once lg:text-7xl"
        variant="h1"
      >
        COVID-19 Testing Solutions and Rapid Testing System - "2023"
      </Typography>

      <div class="mt-12 animate-fade overflow-hidden rounded-lg animate-once">
        <div
          class="relative -my-16 rounded-xl"
          data-scroll
          data-scroll-speed="-0.5"
        >
          <Image
            alt="Schnelltest website on a phone"
            class="h-70v min-h-50 w-full animate-pulse-bg object-cover transition duration-500"
            decoding="async"
            loading="lazy"
            src={schnelltest}
          />
        </div>
      </div>
    </section>

    <section class="lg:min-w-[108rem] lg:max-w-[108rem]">
      <Typography
        className="animate-fade animate-once"
        variant="h2"
      >
        Rapid Response to Pandemic Challenges
      </Typography>

      <Typography
        className="animate-fade text-zinc-500 animate-once"
        variant="p"
      >
        In the early days of the pandemic, I quickly responded to a client's
        urgent need for COVID-19 testing solutions. I created an efficient
        appointment booking portal and a comprehensive management dashboard, and
        even integrated a payment gateway.
      </Typography>

      <Typography
        className="animate-fade text-zinc-500 animate-once"
        variant="p"
      >
        With millions of weekly requests, my solutions contributed significantly
        to effective test management and increased security measures.
      </Typography>

      <Typography
        className="animate-fade animate-once"
        variant="h2"
      >
        Real-time Rapid Testing for Events and Festivals
      </Typography>

      <Typography
        className="animate-fade text-zinc-500 animate-once"
        variant="p"
      >
        I also developed a real-time rapid testing system tailored for events
        and festivals, ensuring swift and accurate results.
      </Typography>

      <Typography
        className="animate-fade text-zinc-500 animate-once"
        variant="p"
      >
        This project showcased my ability to address critical needs promptly and
        develop innovative solutions that have a lasting impact.
      </Typography>
    </section>

    <section class="w-full pt-5v lg:min-w-[110rem] lg:max-w-[110rem]">
      <Typography
        className="animate-fade animate-once"
        component="h1"
        variant="h1"
      >
        Next project:
      </Typography>

      <Work
        alt="HM Medizintechnik website on a phone"
        className="h-50v object-[50%_50%]"
        description="Rental website for HM Medizintechnik, offering a wide range of medical devices."
        image={hm}
        link="/project/hm-medizintechnik"
        single
        title="HM Medizintechnik"
        year="2023"
      />
    </section>
  </main>
</Layout>
