---
import Layout from "@/components/layout/layout.astro";
import Typography from "@/components/ui/typography.astro";

import { Image } from "astro:assets";

import schnelltest from "@/assets/images/schnelltest.jpg";
---

<Layout
  footer
  header
  page="schnelltest"
  title="AW • Schnelltest"
>
  <main
    class="mx-10 flex flex-col items-center justify-center pb-64 pt-15v"
    data-scroll-container
  >
    <section class="pt-5v lg:min-w-[100rem] lg:max-w-[100rem]">
      <Typography
        className="inline-block animate-fade-left text-6xl animate-once lg:text-7xl"
        variant="h1"
      >
        COVID-19 Testing Solutions and Rapid Testing System - "2023"
      </Typography>

      <a href="https://schnelltest-clp.de/">
        <div
          class="group mt-12 animate-fade-left cursor-pointer overflow-hidden rounded-lg animate-delay-100 animate-once"
        >
          <div
            class="absolute left-[50%] top-[50%] z-10 translate-x-[-50%] translate-y-[-50%] opacity-0 transition-opacity delay-75 duration-500 group-hover:opacity-100"
          >
            <div
              class="flex !h-64 !w-64 items-center justify-center rounded-full bg-white p-5 text-center shadow-2xl"
            >
              <Typography
                className="text-4xl"
                variant="p"
              >
                Visit client
              </Typography>
            </div>
          </div>
          <div
            class="relative -my-16 rounded-xl"
            data-scroll
            data-scroll-speed="-0.5"
          >
            <Image
              alt=""
              class="h-70v min-h-50 w-full animate-pulse-bg object-cover transition duration-500 group-hover:scale-[1.05]"
              decoding="async"
              loading="lazy"
              src={schnelltest}
            />
          </div>
        </div>
      </a>

      <Typography
        className="animate-fade animate-once"
        variant="h2"
      >
        Rapid Response to Pandemic Challenges
      </Typography>

      <Typography
        className="animate-fade text-zinc-400 animate-once md:max-w-[90rem]"
        variant="p"
      >
        In the early days of the pandemic, I quickly responded to a client's
        urgent need for COVID-19 testing solutions. I created an efficient
        appointment booking portal and a comprehensive management dashboard, and
        even integrated a payment gateway.
      </Typography>

      <Typography
        className="animate-fade text-zinc-400 animate-once md:max-w-[90rem]"
        variant="p"
      >
        With millions of weekly requests, my solutions contributed significantly
        to effective test management and increased security measures.
      </Typography>

      <Typography
        className="animate-fade animate-once"
        variant="h2"
      >
        Real-time Rapid Testing for Events and Festivals
      </Typography>

      <Typography
        className="animate-fade text-zinc-400 animate-once md:max-w-[90rem]"
        variant="p"
      >
        I also developed a real-time rapid testing system tailored for events
        and festivals, ensuring swift and accurate results.
      </Typography>

      <Typography
        className="animate-fade text-zinc-400 animate-once md:max-w-[90rem]"
        variant="p"
      >
        This project showcased my ability to address critical needs promptly and
        develop innovative solutions that have a lasting impact.
      </Typography>
    </section>

    <section
      class="w-full pt-5v text-right lg:min-w-[100rem] lg:max-w-[100rem]"
    >
      <Typography
        className="mb-0 animate-fade animate-once"
        component="h1"
        variant="p"
      >
        Next project:
      </Typography>

      <div class="animate-fade-left animate-delay-300 animate-once">
        <Typography
          className="cursor-pointer"
          component="a"
          href="/project/hm-medizintechnik"
          variant="h1"
        >
          <span class="link-underline link-underline-black">
            HM-Medizintechnik
          </span>
        </Typography>
      </div>
    </section>
  </main>
</Layout>
