---
const { page } = Astro.props;
---

<footer class="">
  <nav class="flex animate-fade justify-between animate-once md:mt-32">
    <ul class="group float-left mb-16 ml-10 flex gap-6 text-3xl">
      <li class="opacity-50">© 2023</li>
    </ul>
    <ul class="group float-right mb-16 mr-10 flex gap-6 text-3xl">
      <li
        class="cursor-pointer opacity-50 transition-opacity duration-300 hover:!opacity-100 group-hover:opacity-25"
      >
        <a href={page !== "legal-notice" ? "/legal-notice" : "#"}
          >Legal notice</a
        >
      </li>
    </ul>
  </nav>
</footer>
