---
import Typography from "@/components/ui/typography.astro";

interface Props {
  page: string;
}

const { page } = Astro.props;
---

<footer>
  <nav class="flex animate-fade justify-between animate-once md:mt-32">
    <ul class="float-left mb-7 ml-5 flex gap-6 text-3xl">
      <Typography
        className="text-3xl opacity-60"
        component="li"
        variant="p"
      >
        © 2023
      </Typography>
    </ul>
    <ul class="float-right mb-7 mr-5 flex gap-6">
      <li>
        <Typography
          className="cursor-pointer text-3xl opacity-60 transition-opacity duration-300 hover:opacity-100"
          component="a"
          href={page !== "legal-notice" ? "/legal-notice" : "#"}
          variant="p"
        >
          Legal notice
        </Typography>
      </li>
    </ul>
  </nav>
</footer>
