---
import Mail from "@/components/icons/mail.astro";
import GitHub from "@/components/icons/github.astro";
import LinkedIn from "@/components/icons/linkedin.astro";
import Typography from "@/components/ui/typography.astro";

interface Props {
  page: string;
}

const { page } = Astro.props;
---

<header class="fixed z-50">
  <div class="fixed left-10 top-10 animate-fade animate-once">
    <Typography
      className="cursor-pointer text-3xl opacity-60 transition-opacity duration-300 hover:opacity-100"
      component="a"
      href={page === "index" ? "#" : "/"}
      variant="p"
    >
      Anton Werschinin
    </Typography>
  </div>
  <nav class="fixed right-10 top-10 animate-fade animate-once">
    <ul class="flex gap-6">
      <li>
        <Typography
          aria-label="email"
          className="cursor-pointer text-3xl"
          component="a"
          href="mailto:hello@qnt.one"
          target="_blank"
          variant="p"
        >
          <Mail
            className="fill-zinc-800 opacity-60 transition-opacity duration-300 hover:opacity-100"
          />
        </Typography>
      </li>
      <li>
        <Typography
          aria-label="github"
          className="cursor-pointer text-3xl"
          component="a"
          href="https://github.com/qnton"
          target="_blank"
          variant="p"
        >
          <GitHub
            className="fill-zinc-800 opacity-60 transition-opacity duration-300 hover:opacity-100"
          />
        </Typography>
      </li>
      <li>
        <Typography
          aria-label="linkedin"
          className="cursor-pointer text-3xl"
          component="a"
          href="https://www.linkedin.com/in/qnton"
          target="_blank"
          variant="p"
        >
          <LinkedIn
            className="fill-zinc-800 opacity-60 transition-opacity duration-300 hover:opacity-100"
          />
        </Typography>
      </li>
    </ul>
  </nav>
</header>
