---
import Typography from "@/components/ui/typography.astro";

interface Props {
  page: string;
}

const { page } = Astro.props;
---

<div
  class="h-10vh bg-head pointer-events-none fixed top-0 z-40 min-w-full lg:hidden"
></div>

<header class="fixed z-50">
  <div class="animate-fade animate-once fixed top-7 left-5">
    <Typography
      className="cursor-pointer text-3xl opacity-60 transition-opacity duration-300 hover:opacity-100"
      component="a"
      href={page === "index" ? "#" : "/"}
      variant="p"
    >
      Anton Werschinin
    </Typography>
  </div>
  <nav class="animate-fade animate-once fixed top-7 right-5">
    <ul class="flex gap-6">
      <li>
        <Typography
          aria-label="email"
          className="cursor-pointer"
          component="a"
          href="mailto:hello@qnt.one"
          target="_blank"
          variant="p"
        >
          <img
            src="/icons/mail.svg"
            alt="mail"
            class="fill-zinc-800 opacity-60 transition-opacity duration-300 hover:opacity-100 h-9 w-9"
          />
        </Typography>
      </li>
      <li>
        <Typography
          aria-label="github"
          className="cursor-pointer"
          component="a"
          href="https://github.com/qnton"
          target="_blank"
          variant="p"
        >
          <img
            src="/icons/github.svg"
            alt="github"
            class="fill-zinc-800 opacity-60 transition-opacity duration-300 hover:opacity-100 h-9 w-9"
          />
        </Typography>
      </li>
      <li>
        <Typography
          aria-label="linkedin"
          className="cursor-pointer"
          component="a"
          href="https://www.linkedin.com/in/qnton"
          target="_blank"
          variant="p"
        >
          <img
            src="/icons/linkedin.svg"
            alt="linkedin"
            class="fill-zinc-800 opacity-60 transition-opacity duration-300 hover:opacity-100 h-9 w-9"
          />
        </Typography>
      </li>
    </ul>
  </nav>
</header>
