---
import Layout from "@/components/layout/layout.astro";
import Typography from "@/components/ui/typography.astro";
---

<script>
  import "@/libs/pathname";
</script>
<Layout
  header
  ogimage="https://og.qnt.one/?header=Page%20not%20found."
  page="404"
  title="AW • Page not found"
>
  <main
    class="mx-10 flex h-screen flex-col items-center justify-center"
    data-scroll-container
  >
    <section class="pt-5v lg:min-w-[100rem] lg:max-w-[100rem]">
      <Typography
        className="animate-fade animate-once"
        variant="h1"
      >
        Page not found.
      </Typography>
      <Typography
        className="animate-fade-left animate-delay-100 animate-once"
        variant="p"
      >
        The requested URL <span
          class="text-zinc-400"
          id="url"
        ></span> was not found on this server.
      </Typography>

      <div class="animate-fade-left animate-delay-200 animate-once">
        <Typography
          className="mb-6 cursor-pointer lg:mb-0"
          component="a"
          href="/"
          variant="p"
        >
          <span class="link-underline link-underline-black">Back to home</span>
        </Typography>
      </div>
    </section>
  </main>
</Layout>
