---
import Layout from "../components/layout/layout.astro";
---

<Layout
  header
  page="404"
  title="AW • Not found"
>
  <main
    class="mx-10 flex flex-col items-center justify-center pb-64 pt-15v"
    data-scroll-container
  >
    <section class="pt-5v lg:min-w-[100rem] lg:max-w-[100rem]">
      <div class="text-4xl">
        <h1
          class="inline-block animate-fade text-7xl leading-tight animate-once md:max-w-6xl"
        >
          Page not found.
        </h1>

        <h2
          class="mt-12 animate-fade-left text-zinc-400 leading-tight animate-delay-100 animate-once"
        >
          The request URL was not found on this server.
        </h2>
        <div
          class="my-8 mb-0 animate-fade-left cursor-pointer animate-delay-300 animate-once"
        >
          <a
            class="link-underline link-underline-black"
            href="/"
          >
            Back to home
          </a>
        </div>
      </div>
    </section>
  </main>
</Layout>
