---
import Layout from "../components/layout/layout.astro";
import Typography from "../components/ui/typography.astro";

const url = Astro.url.pathname;
---

<Layout
  header
  page="404"
  title="AW • Page not found"
>
  <main
    class="mx-10 flex flex-col items-center justify-center pb-64 pt-15v"
    data-scroll-container
  >
    <section class="pt-5v lg:min-w-[100rem] lg:max-w-[100rem]">
      <Typography
        className="animate-fade animate-once"
        variant="h1"
      >
        Page not found.
      </Typography>
      <Typography
        className="animate-fade-left animate-delay-100 animate-once"
        variant="p"
      >
        The requested URL <span class="text-zinc-400">{url}</span> was not found
        on this server.
      </Typography>

      <div class="animate-fade-left animate-delay-200 animate-once">
        <Typography
          className="mb-6 cursor-pointer lg:mb-0"
          component="a"
          href="/"
          variant="p"
        >
          <span class="link-underline link-underline-black"> Back to home</span>
        </Typography>
      </div>
    </section>
  </main>
</Layout>
