---
import Layout from "../components/layout/layout.astro";
---

<Layout
  clean="true"
  page="index"
  title="Anton Werschinin"
>
  <main
    class="mx-10 mb-16 flex items-center justify-center pt-20v animate-once lg:m-0 lg:pt-40v"
  >
    <section class="text-4xl leading-tight lg:min-w-[100rem] lg:max-w-[100rem]">
      <h1 class="mb-12 inline-block animate-fade text-7xl md:max-w-6xl lg:mt-0">
        404. Page not found
      </h1>

      <p
        class="mb-4 animate-fade-left text-gray-400 animate-delay-100 animate-once md:max-w-[90rem]"
      >
        The request URL was not found on this server.
      </p>
      <div
        class="mb-4 animate-fade-left animate-delay-200 animate-once md:max-w-[90rem]"
      >
        <a
          class="link-underline link-underline-black cursor-pointer"
          href="/"
        >
          back to home
        </a>
      </div>
    </section>
  </main>
</Layout>
