---
import Layout from "@/components/layout/layout.astro";
import Typography from "@/components/ui/typography.astro";
---

<Layout
  footer
  header
  page="about"
  title="AW • About"
>
  <main
    class="mx-10 flex flex-col items-center justify-center pb-64 pt-15v"
    data-scroll-container
  >
    <section
      class="pt-5v lg:min-w-[100rem] lg:max-w-[100rem]"
      id="hero"
    >
      <Typography
        className="inline-block animate-fade-left text-6xl animate-once lg:text-7xl"
        variant="h1"
      >
        about Website Revamp
      </Typography>

      <Typography
        className="animate-fade animate-once"
        variant="h2"
      >
        Tes
      </Typography>
    </section>

    <section
      class="pt-5v lg:min-w-[100rem] lg:max-w-[100rem]"
      id="service"
    >
      <Typography
        className="inline-block animate-fade-left text-6xl animate-once lg:text-7xl"
        variant="h1"
      >
        about Website Revamp
      </Typography>

      <Typography
        className="animate-fade animate-once"
        variant="h2"
      >
        Tes
      </Typography>
    </section>

    <section
      class="pt-5v lg:min-w-[100rem] lg:max-w-[100rem]"
      id="about"
    >
      <Typography
        className="inline-block animate-fade-left text-6xl animate-once lg:text-7xl"
        variant="h1"
      >
        about Website Revamp
      </Typography>

      <Typography
        className="animate-fade animate-once"
        variant="h2"
      >
        Tes
      </Typography>
    </section>

    <section
      class="pt-5v lg:min-w-[100rem] lg:max-w-[100rem]"
      id="sample project"
    >
      <Typography
        className="inline-block animate-fade-left text-6xl animate-once lg:text-7xl"
        variant="h1"
      >
        about Website Revamp
      </Typography>

      <Typography
        className="animate-fade animate-once"
        variant="h2"
      >
        Tes
      </Typography>
    </section>

    <section
      class="pt-5v lg:min-w-[100rem] lg:max-w-[100rem]"
      id="contact"
    >
      <Typography
        className="inline-block animate-fade-left text-6xl animate-once lg:text-7xl"
        variant="h1"
      >
        about Website Revamp
      </Typography>

      <Typography
        className="animate-fade animate-once"
        variant="h2"
      >
        Tes
      </Typography>
    </section>
  </main>
</Layout>
