---
import Layout from "@/components/layout.astro";
import Footer from "@/components/footer.astro";
import { Image } from "astro:assets";
---

<Layout
  description="I am a web developer and designer specializing in creating visually stunning and functional websites."
  title="Anton Werschinin"
>
  <main class="bg-black text-white">
    <section class="flex min-h-[100dvh] items-center justify-center">
      <div class="flex items-center gap-8 md:gap-10 lg:gap-14">
        <Image
          alt="Anton Werschinin"
          class="animate-fade-right animate-once h-24 w-24 rounded-full border border-white/20 object-cover md:h-32 md:w-32 lg:h-48 lg:w-48"
          src="/images/pfp.jpg"
          width={1024}
          height={1024}
          loading="eager"
          fetchpriority="high"
        />

        <div class="flex flex-col justify-center gap-2">
          <h1
            class="animate-fade-left animate-delay-100 animate-once font-satoshi-medium m-0 text-4xl tracking-wide text-neutral-100 md:text-5xl lg:text-7xl"
            style="line-height: 1"
          >
            Anton Werschinin
          </h1>
          <p
            class="animate-fade-left animate-delay-200 animate-once font-satoshi-regular m-0 mt-2 text-xl text-neutral-400 md:text-2xl lg:mt-4 lg:text-4xl"
            style="line-height: 1"
          >
            developer & designer
          </p>
        </div>
      </div>
    </section>

    <Footer class="on-sight:animate-fade" />
  </main>
</Layout>
