---
import Layout from "../components/layout/layout.astro";
import Work from "../components/work.astro";

import hm from "../assets/images/hm.jpg";
import schnelltest from "../assets/images/schnelltest.jpg";
import hankens from "../assets/images/hankens.jpg";
---

<Layout
  footer
  header
  page="index"
  title="Anton Werschinin"
>
  <main
    class="mx-10 flex flex-col items-center justify-center pb-64 pt-48 md:pt-20v lg:pt-35v"
  >
    <section class="text-4xl lg:min-w-[140rem] lg:max-w-[140rem]">
      <h1
        class="inline-block animate-fade font-satoshiBold text-5xl md:max-w-6xl lg:text-7xl"
      >
        Hey
        <span
          class="inline-block animate-wiggle-more animate-delay-300 animate-twice animate-ease-in-out hover:animate-infinite"
        >
          👋
        </span>, I'm Anton, a developer, designer, and musician.
      </h1>

      <p
        class="my-5 mt-12 animate-fade-left leading-tight animate-delay-100 animate-once md:max-w-[100rem]"
      >
        I am a web developer and designer specializing in creating visually
        stunning and functional websites.
      </p>

      <p
        class="my-5 animate-fade-left leading-tight animate-delay-200 animate-once md:max-w-[100rem]"
      >
        My services include design, development, and optimization. I strive to
        create websites that meet the unique needs of my clients.
      </p>

      <div class="my-8 mb-0 animate-fade-left animate-delay-300 animate-once">
        <a
          class="link-underline link-underline-black"
          href="mailto:hello@qnt.one"
          target="_blank"
        >
          Reach out to me
        </a>
      </div>
    </section>
    <section class="mt-20v">
      <h1
        class="inline-block animate-fade text-7xl leading-tight md:max-w-6xl lg:mt-0"
      >
        Projects
      </h1>
      <div>
        <Work
          alt="Schnelltest website on a phone"
          className="object-[35%_35%]"
          description="A website dedicated to providing information about various COVID-19 testing centers."
          image={schnelltest}
          link="https://schnelltest-clp.de"
          title="Schnelltest"
          year="2019"
        />
        <Work
          alt="HM Medizintechnik website on a macbook"
          className="object-[35%_35%]"
          description="Rental website for HM Medizintechnik, offering a wide range of medical devices."
          image={hm}
          link="https://hm-medizintechnik.de"
          title="HM Medizintechnik"
          year="2023"
        />
        <Work
          alt="Hankens testzentrum website on a phone"
          className="object-[50%_35%]"
          description="A platform enabling users to easily locate nearby COVID-19 testing centers."
          image={hankens}
          link="https://hankens-testzentrum.de"
          title="Hankens"
          year="2022"
        />
      </div>
    </section>
    <section class="mt-20v text-4xl lg:min-w-[140rem] lg:max-w-[140rem]">
      <h1 class="inline-block animate-fade text-6xl md:max-w-6xl lg:text-7xl">
        Contact
      </h1>
      <p
        class="mt-12 animate-fade-left leading-tight animate-delay-100 animate-once"
      >
        Stand out from the competition with a visually stunning and functional
        website.
      </p>
      <p
        class="my-5 animate-fade-left leading-tight animate-delay-200 animate-once"
      >
        Let's collaborate to create a unique online experience.
      </p>
      <div
        class="my-8 mb-0 animate-fade-left cursor-pointer animate-delay-300 animate-once"
      >
        <a
          class="link-underline link-underline-black"
          href="mailto:hello@qnt.one"
          target="_blank"
        >
          hello@qnt.one</a
        >
      </div>
    </section>
  </main>
</Layout>
