---
import Layout from "../components/layout.astro";
---

<Layout title="Anton Werschinin" page="index">
  <main
    class="mx-10 mb-16 flex items-center justify-center pt-20v animate-once lg:m-0 lg:pt-35v"
  >
    <section class="text-4xl leading-tight lg:min-w-[100rem] lg:max-w-[100rem]">
      <h1 class="mb-8 inline-block animate-fade text-7xl md:max-w-6xl lg:mt-0">
        Hey
        <span
          class="inline-block animate-wiggle-more animate-delay-300 animate-twice animate-ease-in-out hover:animate-infinite"
        >
          👋
        </span>, I'm Anton, a developer, designer, and musician.
      </h1>

      <p
        class="mb-4 animate-fade-left text-gray-400 animate-delay-100 animate-once md:max-w-[90rem]"
      >
        I am a <span class="text-white">web developer and designer</span> specializing
        in creating visually stunning and functional websites. My services include
        design, development, and optimization. I strive to <span
          class="text-white"
          >create websites that meet the unique needs of my clients.</span
        >
      </p>

      <p
        class="mb-8 animate-fade-left text-gray-400 animate-delay-200 animate-once md:max-w-[90rem]"
      >
        I have a passion for music and sports. When I am not creating <span
          class="text-white">visually stunning and functional websites,</span
        > you can find me working out or enjoying the beauty of nature.
      </p>

      <div class="animate-fade-left animate-delay-300 animate-once">
        <a
          class="link-underline link-underline-black cursor-pointer"
          href="mailto:hello@qnt.one"
        >
          Reach out to me
        </a>
      </div>
    </section>
  </main>
</Layout>
