---
import Layout from "../components/layout/layout.astro";
import Work from "../components/work.astro";

import hm from "../images/hm.webp";
import schnelltest from "../images/schnelltest.webp";
import hankens from "../images/hankens.webp";
---

<Layout title="Anton Werschinin" page="index">
  <main
    class="mx-10 flex flex-col items-center justify-center pb-64 pt-48 md:pt-20v lg:pt-35v"
  >
    <section class="text-4xl lg:min-w-[140rem] lg:max-w-[140rem]">
      <h1
        class="inline-block animate-fade font-satoshiBold text-5xl md:max-w-6xl lg:text-7xl"
      >
        Hey
        <span
          class="inline-block animate-wiggle-more animate-delay-300 animate-twice animate-ease-in-out hover:animate-infinite"
        >
          👋
        </span>, I'm Anton, a developer, designer, and musician.
      </h1>

      <p
        class="my-5 mt-12 animate-fade-left leading-tight animate-delay-100 animate-once md:max-w-[100rem]"
      >
        I am a <span class="">web developer and designer</span> specializing in creating
        visually stunning <br />and functional websites.
      </p>

      <p
        class="my-5 animate-fade-left leading-tight animate-delay-200 animate-once md:max-w-[100rem]"
      >
        My services include design, development, and optimization. I strive to <span
          class=""
          >create websites that meet the unique needs of my clients.</span
        >
      </p>

      <div class="my-8 mb-0 animate-fade-left animate-delay-300 animate-once">
        <a
          class="link-underline link-underline-black"
          href="mailto:hello@qnt.one"
          target="_blank"
        >
          Reach out to me</a
        >
      </div>
    </section>
    <section class="mt-20v">
      <h1
        class="inline-block animate-fade text-7xl leading-tight md:max-w-6xl lg:mt-0"
      >
        Projects
      </h1>
      <div>
        <Work
          title="Schnelltest"
          year="2019"
          className="object-[50%_65%]"
          description="A website dedicated to providing information about various COVID-19 testing centers."
          image={schnelltest}
          alt="Schnelltest website on a phone"
          link="https://schnelltest-clp.de"
        />
        <Work
          title="HM Medizintechnik"
          year="2023"
          className="object-[75%_65%]"
          description="Rental website for HM Medizintechnik, offering a wide range of medical devices."
          image={hm}
          alt="HM Medizintechnik website on a macbook"
          link="https://hm-medizintechnik.de"
        />
        <Work
          title="Hankens"
          year="2022"
          className="object-[50%_62%]"
          description="A platform enabling users to easily locate nearby COVID-19 testing centers."
          image={hankens}
          alt="Hankens testzentrum website on a phone"
          link="https://hankens-testzentrum.de"
        />
      </div>
    </section>
    <section class="mt-20v text-4xl lg:min-w-[140rem] lg:max-w-[140rem]">
      <h1 class="inline-block animate-fade text-6xl md:max-w-6xl lg:text-7xl">
        Contact
      </h1>
      <p
        class="mt-12 animate-fade-left leading-tight animate-delay-100 animate-once"
      >
        Stand out from the competition with a <span class=""
          >visually stunning and functional</span
        >
        website.
      </p>
      <p
        class="my-5 animate-fade-left leading-tight animate-delay-200 animate-once"
      >
        Let's collaborate to create a <span class=""
          >unique online experience.</span
        >
      </p>
      <div
        class="my-8 mb-0 animate-fade-left cursor-pointer animate-delay-300 animate-once"
      >
        <a
          href="mailto:hello@qnt.one"
          target="_blank"
          class="link-underline link-underline-black"
        >
          hello@qnt.one</a
        >
      </div>
    </section>
  </main>
</Layout>
