---
import Layout from "@/components/layout/layout.astro";
import Typography from "@/components/ui/typography.astro";
---

<Layout
  description="Legal notice and disclaimer."
  footer
  header
  page="legal-notice"
  title="AW • Legal notice"
>
  <main class="pt-15vh mx-5 flex flex-col items-center justify-center pb-64">
    <section class="pt-5vh lg:max-w-100 lg:min-w-400">
      <Typography
        className="animate-once noscript:animate-fade on-sight:animate-fade mb-0 inline-block opacity-0 md:max-w-6xl"
        variant="h1"
      >
        Legal Notice.
      </Typography>

      <Typography
        className="animate-once noscript:animate-fade on-sight:animate-fade opacity-0"
        variant="h2"
      >
        Information provided according to Sec. 5 German Telemedia Act (TMG):
      </Typography>

      <Typography
        className="animate-once noscript:animate-fade on-sight:animate-fade text-zinc-500 not-italic opacity-0"
        component="address"
        data-obfuscation="0"
        variant="p"
      >
        Anton Werschinin<br />
        Hinterm Wall 28<br />
        49681 Garrel<br />
        GERMANY
      </Typography>

      <Typography
        className="animate-once noscript:animate-fade on-sight:animate-fade opacity-0"
        variant="h2"
      >
        Contact:
      </Typography>

      <Typography
        className="animate-once noscript:animate-fade on-sight:animate-fade block text-zinc-500 not-italic opacity-0"
        component="address"
        variant="p"
      >
        E-Mail:
        <a
          class="cursor-pointer"
          href="mailto:hello@qnt.one"
        >
          hello@qnt.one
        </a>
      </Typography>
    </section>
    <section class="pt-10vh lg:max-w-100 lg:min-w-400">
      <Typography
        className="animate-once noscript:animate-fade on-sight:animate-fade mb-0 inline-block opacity-0 md:max-w-6xl"
        variant="h1"
      >
        Disclaimer.
      </Typography>

      <Typography
        className="animate-once noscript:animate-fade on-sight:animate-fade opacity-0"
        variant="h2"
      >
        Liability for Contents
      </Typography>

      <Typography
        className="animate-once noscript:animate-fade on-sight:animate-fade text-justify text-zinc-500 opacity-0"
        variant="p"
      >
        As service providers, we are liable for own contents of these websites
        according to Sec. 7, Typography 1 German Telemedia Act (TMG). However,
        according to Sec. 8 to 10 German Telemedia Act (TMG), service providers
        are not obligated to permanently monitor submitted or stored information
        or to search for evidences that indicate illegal activities.
      </Typography>

      <Typography
        className="animate-once noscript:animate-fade on-sight:animate-fade text-justify text-zinc-500 opacity-0"
        variant="p"
      >
        Legal obligations to removing information or to blocking the use of
        information remain unchallenged. In this case, liability is only
        possible at the time of knowledge about a specific violation of law.
        Illegal contents will be removed immediately at the time we get
        knowledge of them.
      </Typography>

      <Typography
        className="animate-once noscript:animate-fade on-sight:animate-fade opacity-0"
        variant="h2"
      >
        Liability for Links
      </Typography>

      <Typography
        className="animate-once noscript:animate-fade on-sight:animate-fade text-justify text-zinc-500 opacity-0"
        variant="p"
      >
        Our offer includes links to external third-party websites. We have no
        influence on the contents of those websites; therefore, we cannot
        guarantee for those contents. Providers or administrators of linked
        websites are always responsible for their own contents.
      </Typography>

      <Typography
        className="animate-once noscript:animate-fade on-sight:animate-fade text-justify text-zinc-500 opacity-0"
        variant="p"
      >
        The linked websites had been checked for possible violations of law at
        the time of the establishment of the link. Illegal contents were not
        detected at the time of the linking. A permanent monitoring of the
        contents of linked websites cannot be imposed without reasonable
        indications that there has been a violation of law. Illegal links will
        be removed immediately at the time we get knowledge of them.
      </Typography>

      <Typography
        className="animate-once noscript:animate-fade on-sight:animate-fade opacity-0"
        variant="h2"
      >
        Copyright
      </Typography>

      <Typography
        className="animate-once noscript:animate-fade on-sight:animate-fade text-justify text-zinc-500 opacity-0"
        variant="p"
      >
        Contents and compilations published on these websites by the providers
        are subject to German copyright laws. Reproduction, editing,
        distribution as well as the use of any kind outside the scope of the
        copyright law require a written permission of the author or originator.
        Downloads and copies of these websites are permitted for private use
        only.
      </Typography>

      <Typography
        className="animate-once noscript:animate-fade on-sight:animate-fade text-justify text-zinc-500 opacity-0"
        variant="p"
      >
        The commercial use of our contents without permission of the originator
        is prohibited.
      </Typography>

      <Typography
        className="animate-once noscript:animate-fade on-sight:animate-fade text-justify text-zinc-500 opacity-0"
        variant="p"
      >
        Copyright laws of third parties are respected as long as the contents on
        these websites do not originate from the provider. Contributions of
        third parties on this site are indicated as such. However, if you notice
        any violations of copyright law, please inform us. Such contents will be
        removed immediately.
      </Typography>
    </section>
  </main>
</Layout>
