---
import Layout from "../components/layout/layout.astro";
---

<Layout title="AW • Legal notice" page="legal-notice">
  <main
    class="mx-10 mb-16 flex flex-col items-center justify-center pt-15v animate-once"
  >
    <section class="pt-5v lg:min-w-[100rem] lg:max-w-[100rem]">
      <div class="text-4xl">
        <h1
          class="inline-block animate-fade text-7xl leading-tight animate-once md:max-w-6xl"
        >
          Legal Notice
        </h1>
        <h2 class="mb-6 mt-12 animate-fade text-5xl leading-tight animate-once">
          Information provided according to Sec. 5 German Telemedia Act (TMG):
        </h2>
        <address
          class="my-5 mb-0 animate-fade leading-tight text-gray-400 animate-once md:max-w-[90rem]"
        >
          Anton Werschinin<br />
          Hinterm Wall 28a<br />
          49681 Garrel<br />
          GERMANY
        </address>
        <h2 class="mb-6 mt-12 animate-fade text-5xl leading-tight animate-once">
          Contact:
        </h2>
        <address
          class="my-5 mb-0 animate-fade text-gray-400 animate-once md:max-w-[90rem]"
        >
          <span class="block">
            E-Mail:
            <a class="cursor-pointer" href="mailto:hello@qnt.one">
              hello@qnt.one
            </a>
          </span>
        </address>
      </div>
    </section>
    <section class="pt-10v lg:min-w-[100rem] lg:max-w-[100rem]">
      <div class="text-4xl leading-tight">
        <h1
          class="inline-block animate-fade text-7xl animate-once md:max-w-6xl"
        >
          Disclaimer
        </h1>
        <div>
          <h2
            class="mb-6 mt-12 animate-fade text-5xl leading-tight animate-once"
          >
            Liability for Contents
          </h2>
          <p class="my-5 animate-fade leading-tight text-gray-400 animate-once">
            As service providers, we are liable for own contents of these
            websites according to Sec. 7, paragraph 1 German Telemedia Act
            (TMG). However, according to Sec. 8 to 10 German Telemedia Act
            (TMG), service providers are not obligated to permanently monitor
            submitted or stored information or to search for evidences that
            indicate illegal activities.
          </p>
          <p
            class="my-5 mb-0 animate-fade leading-tight text-gray-400 animate-once"
          >
            Legal obligations to removing information or to blocking the use of
            information remain unchallenged. In this case, liability is only
            possible at the time of knowledge about a specific violation of law.
            Illegal contents will be removed immediately at the time we get
            knowledge of them.
          </p>
        </div>
        <div>
          <h2
            class="mb-6 mt-12 animate-fade text-5xl leading-tight animate-once"
          >
            Liability for Links
          </h2>
          <p class="my-5 animate-fade leading-tight text-gray-400 animate-once">
            Our offer includes links to external third-party websites. We have
            no influence on the contents of those websites; therefore, we cannot
            guarantee for those contents. Providers or administrators of linked
            websites are always responsible for their own contents.
          </p>
          <p
            class="my-5 mb-0 animate-fade leading-tight text-gray-400 animate-once"
          >
            The linked websites had been checked for possible violations of law
            at the time of the establishment of the link. Illegal contents were
            not detected at the time of the linking. A permanent monitoring of
            the contents of linked websites cannot be imposed without reasonable
            indications that there has been a violation of law. Illegal links
            will be removed immediately at the time we get knowledge of them.
          </p>
        </div>
        <div>
          <h2
            class="mb-6 mt-12 animate-fade text-5xl leading-tight animate-once"
          >
            Copyright
          </h2>
          <p class="my-5 animate-fade leading-tight text-gray-400 animate-once">
            Contents and compilations published on these websites by the
            providers are subject to German copyright laws. Reproduction,
            editing, distribution as well as the use of any kind outside the
            scope of the copyright law require a written permission of the
            author or originator. Downloads and copies of these websites are
            permitted for private use only.
          </p>
          <p class="my-5 animate-fade leading-tight text-gray-400 animate-once">
            The commercial use of our contents without permission of the
            originator is prohibited.
          </p>
          <p
            class="my-5 mb-0 animate-fade leading-tight text-gray-400 animate-once"
          >
            Copyright laws of third parties are respected as long as the
            contents on these websites do not originate from the provider.
            Contributions of third parties on this site are indicated as such.
            However, if you notice any violations of copyright law, please
            inform us. Such contents will be removed immediately.
          </p>
        </div>
      </div>
    </section>
  </main>
</Layout>
