---
const isDev = import.meta.env.DEV;
---

{
  isDev && (
    <div class="fixed top-0 left-0 z-50 rounded-br-lg bg-green-500 px-3 py-1 text-white opacity-100 transition-opacity duration-200 hover:opacity-0">
      DEV
    </div>
  )
}
