---
import "../styles/globals.css";
import Header from "./header.astro";
import Footer from "./footer.astro";
import Head from "./head.astro";
import "../styles/globals.css";

const { title, page, clean } = Astro.props;
---

<html lang="en">
  <head>
    <Head title={title} />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    {clean ? "" : <Header page={page} />}
    <slot />
    {clean ? "" : <Footer page={page} />}
  </body>
</html>
